/*Styles go here*/
*, *:before, *:after {
  box-sizing: border-box;
}

body {
    line-height: 1.4em;
}

#container {
    width: 95%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.8em;
}

p {
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-size: 1em;
    margin-bottom: 0.8em;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
    text-decoration: none;
    margin-bottom: 1em;
}

#bar {
    display: flex;
    /*height: 3.5em;*/
    align-items: baseline;
    justify-content: space-between;
    /*padding-bottom: 0.3em;*/
    margin-bottom: 0.7em;
    border-bottom: 1px solid #ccc;
}

.logo {
    border-radius: 5%;
    margin-left: 0.5em;
    height: 3em;
}
