.slider {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-scroll-snap-points-x: repeat(300px);
    -webkit-scroll-snap-type: mandatory; 
}

.slider > div {
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    background-color: #ccc;
    border: 5px solid white;
}
