.slider {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.slider > div {
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    background-color: #ccc;
    border: 5px solid white; 
}
