/*Typography*/

body {
    font-family: 'Droid Serif', Helvetica, Arial, serif;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

/*Navigation styles*/


/*Image width*/


/*Colors for different parts of page */


/*Setting up flexible boxes for our content*/


/*These styles activate when the page is larger than 800px wide*/
