/* =================================
  Flexbox
==================================== */

.container {
	display: flex;
	flex-wrap: nowrap;/*The default value*/
	flex-wrap: wrap;/*Allows items to wrap*/
	flex-wrap: wrap-reverse;/*wraps items in the reverse order they are in html*/
}
