/* =================================
  Flexbox
==================================== */

.container {
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
	.container {
		flex-direction: row;
		justify-content: center;
	}
}

@media (min-width: 800px) {

	.item-1 {
		margin-right: auto;
	}
}
